<section i18n-id="@@about-anchor" id="about">
    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <h1 i18n="@@about-heading" class="display-5 fw-bold lh-1 mb-3">Friedrich Rehren</h1>
            <div class="col-10 col-sm-8 col-lg-5 mt-0">
                <img src="assets/pictures/portfolio.jpg" class="d-block mx-lg-auto my-lg-auto img-fluid" i18n-alt="@@about-image-alt" alt="An image of myself" width="800" height="1000">
            </div>
            <div class="col-lg-7">
                <p class="lead" [innerHtml]=aboutParagraph1></p>
                <p class="lead" [innerHtml]=aboutParagraph2></p>
                <p class="lead" [innerHtml]=aboutParagraph3></p>
                <p class="lead" [innerHtml]=aboutParagraph4></p>
            </div>
        </div>
    </div>
</section>

<section i18n-id="@@projects-anchor" id="projects" class="border-top">
    <h2 i18n="@@projects-heading" class="header">Projects</h2>
    <p i18n="@@projects-paragraph">A list of my completed and ongoing projects.</p>
    
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-2 row-cols-xxl-3">
        <ng-template ngFor let-project [ngForOf]="projects">
            <app-project *ngIf="!project.isDraft()" [name]="project.getName(locale)" [description]="project.getDescription(locale)" [imageUrl]="project.getImageUrl()"></app-project>
        </ng-template>
    </div>
</section>

<section i18n-id="@@domains-anchor" id="domains" class="border-top">
    <h2 i18n="@@domains-heading" class="header">Domains</h2>
    <p i18n="@@domains-paragraph">A list of the domains I own, including a brief explanation of what they are used for.</p>

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-4 py-5">
        <ng-template ngFor let-domain [ngForOf]="domains">
            <app-domain [name]="domain.getName()" [description]="domain.getDescription(locale)"></app-domain>
        </ng-template>
    </div>
</section>